:root {
    --bg-color: #fdfaf3;
    --box-color: #f2e9dc; 
    --border-color: #dcd0c0;
}

body {
    background-color: #fdfcf8; 
    font-family: "serif", "Microsoft JhengHei", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    color: #4a4a4a;
}

.container {
    width: 1050px;
    padding: 40px;
}

/* Header */

.main-header {
    position: relative; 
    width: 100%;
    padding: 60px 0;
    display: flex;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header-left h1 {
    font-size: 70px;
    font-family: serif;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}


.icon-with-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.star-icon {
    font-size: 30px;
    color: #b08d57;
    margin-right: 10px;
    flex-shrink: 0; 
}

.line {
    height: 1px;
    background-color: #b08d57;
    flex-grow: 1; 
}

.header-right {
    position: absolute;
    top: 40px;        
    right: 0;
    z-index: 10;
}
/*座右銘*/
.motto {
    margin-top: 15px;  
    font-size: 16px;
    color: #888;
    letter-spacing: 2px;
    font-family: "serif", "Noto Serif TC";
    font-style: italic;   
    text-align: center;
}

.motto-line-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-right: 40px; 
}

.motto-line-container .line {
    flex-grow: 1; 
    height: 1px;
    background-color: #b08d57;
}

.motto-line-container .star-icon {
    margin-left: 15px; 
    flex-shrink: 0;
}

.placeholder {
    width: 150px;
    height: 150px;
    background: #d9e6d5;
    border-radius: 50% 50% 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow: hidden; 
    
}

.placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.proposal-nav {
    flex-shrink: 0;     
    margin-left: 20px;   
}

.proposal-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.proposal-nav li {
    display: flex;
    align-items: center;
}


.proposal-nav a {
    text-decoration: none;
    color: #666;            
    font-size: 13px;      
    font-family: 'Montserrat', sans-serif, "Arial"; 
    letter-spacing: 3px;     
    transition: color 0.3s ease;
    font-weight: 500;
}

.proposal-nav a:hover {
    color: #b08d57;          
}

.nav-split {
    color: #ddd;             
    margin: 0 25px;         
    font-size: 12px;
    user-select: none;     
}

.nav-line-container {
    display: flex;
    align-items: center;
    margin: 20px 0 10px 0;
    width: 100%;
}

/* Basic Info */
#basic-info {
    display: flex;
    margin-bottom: 40px;
}

.info-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    flex-grow: 1;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: none;
    
}

.info-label {
    background-color: var(--box-color);
    padding: 15px ;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.info-value {
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

aside {
    width: 200px;
    border: 1px solid var(--border-color);
    border-left: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

aside img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.photo-box {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Section Title Styling */
.section-title {
    display: flex;
    align-items: center; 
    gap: 15px;         
    border-bottom: 1px solid #4a4a4a; 
    padding-bottom: 10px; 
    width: 100%;         
    margin-bottom: 30px;
}
.star-icon2 {
    font-size: 30px;
    margin-right: 10px;
    flex-shrink: 0; 
}

.section-title h2 {
    font-size: 32px;
    margin: 10px 0;
    font-family: serif;
}

.about-content {
    background-color: var(--box-color);
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

.about-item {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 5px;
}

.about-label {
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    padding: 15px 0;
    flex-shrink: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.about-text {
    flex-grow: 1;
    margin: 0 0 0 20px;  
    min-height: 180px;
    padding: 15px 25px; 
    border-left: 6px solid #ccc; 
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-brown .about-text { border-left-color: #d0a882; }

.about-text strong {
    color: #333;
    display: inline-block;
    margin-top: 5px;
}


#skills {
    margin: 40px 0;
}

#skills h2 {
    font-size: 32px;
    font-family: serif;
    margin: 0;
    font-weight: 100%;
    color: #4a4a4a;
    line-height: 1;
}
.line2 {
    height: 2px;
    flex-grow: 1;
}

.donut-chart {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease; 
    cursor: pointer;
}

.donut-chart::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.skill-item:hover .donut-chart {
    transform: scale(1.1); 
    background: conic-gradient(rgb(222, 208, 179) 0% 80%, #f2e9dc 80% 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.skills-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 40px 0;
    gap: 40px; 
}
.skill-item:hover .donut-chart::after {
    transform: scale(0.95);
}

.skill-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px; 
}
.skill-item h3 {
    font-size: 1.1rem;
    margin: 15px 0;
    text-align: center;
    color: #4a4a4a;
    font-family: serif;
}
.skill-item p {
    width: 100%;       
    text-align: left;  
    font-size: 16px;   
    line-height: 1.4;  
    color: #666;
    padding: 0 10px;
}
.skill-item strong {
    color: #444;
    display: block;   
    margin-top: 10px;
}
.projects-content{
    background-color: var(--box-color);
    padding: 40px 60px;      
    line-height: 1.8;        
    text-align: left;
}
/* Footer */
.main-footer {
    background-color: #dcd0c0;   
    color: #444;            
    padding: 40px 0 30px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 45px;         
    width: 100%;
}

.footer-container {
    max-width: 1050px;
    margin: 0 auto;
}

.footer-info span {
    margin: 0 15px;
    display: inline-block;
}